{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news_item.title }}</title>
    <link rel="stylesheet" href="{% static 'news_website_homework_app/css/read_more.css' %}">
</head>
<body>
    <div class="news-detail-container">
        <h3>{{ news_item.title }}</h3>
        <p>{{ news_item.text }}</p>
        <h3 class="category">Category: {{ news_item.category }}</h3>
        <h4 class="date-added">Date Added: {{ news_item.date_added }}</h4>
        <a href="{% url 'main_home_page' %}" class="back-home">Back to Home</a>
    </div>
</body>
</html>
